<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:format="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Work Order Management</title>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<div class="container-sm">
    <h1>Work order list</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Work Order</th>
            <th scope="col">Responsible for Work</th>
            <th scope="col">Order Weight</th>
            <th scope="col">Deadline date</th>
            <th scope="col" colspan="2">ACTION</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="workOrder : ${allWorkOrders}">
            <td th:text="${workOrder.getId()}">
            </th>
            <td th:text="${workOrder.getTitle()}"></td>
            <td th:text="${workOrder.getResponsibleForWork()}"></td>
            <td th:text="${workOrder.getOrderWeight()}"></td>
            <td th:text="${#temporals.format(workOrder.getDeadLineDate(), 'dd.MM.yyyy')}"></td>
            <td><a type="button" class="btn btn-danger" th:href="@{/delete(id=${workOrder.getId()})}"/>DELETE</td>
            <td><a type="button" class="btn btn-warning" th:href="@{/update(id=${workOrder.getId()})}"/>UPDATE</td>
        </tr>
        </tbody>
    </table>
    <h2>New WORK ORDER</h2>
    <form th:action="@{/save}" method="post">
        <div class="container-fluid">
        </div>
        <div class="mb-3">
            <label for="id" class="form-label">Id</label>
            <input type=text class="form-control" id="id" name="id">
        </div>
        <div class="mb-3">
            <label for="Title" class="form-label">Title</label>
            <input type=text class="form-control" id="Title" name="Title">
        </div>
        <div class="mb-3">
            <label for="responsible" class="form-label">Responsible for WORK</label>
            <input type=text class="form-control" id="responsible" name="ResponsibleForWork">
        </div>
        <div class="mb-3">
            <label for="orderWeight" class="form-label">Order WEIGHT</label>
            <input type=number class="form-control" id="orderWeight" name="orderWeight">
        </div>
        <div class="mb-3">
            <label for="Title" class="form-label">Dead Line</label>
            <input type=date class="form-control" id="deadLine" name="deadLineDate" >
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

</body>
</html>

